<div class="lextra-search-directory-list collapse hide show" id="search-list-directory" data-parent="#lextra-side-search-bar">
      <div class="loader"></div>
      <ul class="list-inline">
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list01.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">Aloe Drug Mart</h5>
              <p class="lextra-location mb-2">65 NW 167th Street North Miami Beach, FL 33169</p>
              <p class="lextra-contact-num mb-2">(305) 655-1544</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="far fa-heart"></i> add to favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">5</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list03.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">City Bikes</h5>
              <p class="lextra-location mb-2">20335 Biscayne Blvd ventura, FL 33180</p>
              <p class="lextra-contact-num mb-2">(305) 682-8889</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="fa fa-heart"></i> remove from favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">10</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list01.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">Aloe Drug Mart</h5>
              <p class="lextra-location mb-2">65 NW 167th Street North Miami Beach, FL 33169</p>
              <p class="lextra-contact-num mb-2">(305) 655-1544</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="far fa-heart"></i> add to favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">5</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list03.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">City Bikes</h5>
              <p class="lextra-location mb-2">20335 Biscayne Blvd ventura, FL 33180</p>
              <p class="lextra-contact-num mb-2">(305) 682-8889</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="fa fa-heart"></i> remove from favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">10</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list01.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">Aloe Drug Mart</h5>
              <p class="lextra-location mb-2">65 NW 167th Street North Miami Beach, FL 33169</p>
              <p class="lextra-contact-num mb-2">(305) 655-1544</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="far fa-heart"></i> add to favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">5</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list03.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">City Bikes</h5>
              <p class="lextra-location mb-2">20335 Biscayne Blvd ventura, FL 33180</p>
              <p class="lextra-contact-num mb-2">(305) 682-8889</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="fa fa-heart"></i> remove from favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">10</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list01.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">Aloe Drug Mart</h5>
              <p class="lextra-location mb-2">65 NW 167th Street North Miami Beach, FL 33169</p>
              <p class="lextra-contact-num mb-2">(305) 655-1544</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="far fa-heart"></i> add to favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">5</span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-item list-group-item mb-3">
          <div class="media">
            <img class="mr-3" src="assets/images/list03.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-1 font-weight-normal" onClick="location.href='deals-details.html'">City Bikes</h5>
              <p class="lextra-location mb-2">20335 Biscayne Blvd ventura, FL 33180</p>
              <p class="lextra-contact-num mb-2">(305) 682-8889</p>
              <p class="lextra-addfav mb-2">
                <a href="">
                  <i class="fa fa-heart"></i> remove from favorites</a>
                <span class="earn-points float-right">Earn 25 point</span>
              </p>
              <div class="lextra-deal-count"> Deals
                <span class="d-block">10</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>