<!-- <div class="tab-pane fade" id="facebooksetting" role="tabpanel" aria-labelledby="contact-tab"> -->
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <h4 class="mb-4">Facebook Check-in & Sharing</h4>
          <h5 class="mb-4">You are currently NOT Facebook Connected</h5>
          <div class="img mb-4">
              <a href="javascript:void(0)">
                  <img class="img-fluid" src="assets/images/facebook-login.png" />
              </a>
          </div>
      </div>
  </div>
<!-- </div> -->