<header class="lextra-home-menu">
    <nav class="navbar navbar-expand-lg shadow-sm fixed-top bg-white">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler mobile-ham" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto text-white">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0)">Collect Rewards
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Spend Rewards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Why Rewards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/register'>Register Here</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/login'>Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="lextra-map-header">
    <div class="map">
        <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDq91yH24KyZ5aDndzawb2Bqjs44S-kvtk&q=Eiffel+Tower,Paris+France"
            allowfullscreen> </iframe>
        <div class="map-overlay"></div>
        <form class="form-inline bg-white p-4 shadow-sm">
            <input class="form-control mr-sm-2" type="search" aria-label="Search" placeholder="I'm looking for...">
            <input class="form-control mr-sm-2" type="search" aria-label="Search" placeholder="Location">
            <span class="inputicon inputicon-campass"></span>
            <button class="btn btn-common" type="submit">
                <i class="fa fa-search"></i> Search</button>
        </form>
    </div>
</section>

<section class="lextra-offer-list">
    <div class="container">
        <div class="row mr-auto">
            <div class="offer-category-box text-white text-center mr-1 mb-1">
                <i class="fa-2x fas fa-wrench d-block mb-2"></i>
                <span class="offer-category-text">Automotive</span>
            </div>
            <div class="offer-category-box text-white text-center d-none d-sm-none d-md-none d-lg-block mr-1 mb-1">
                <i class="fa-2x fas fa-utensils d-block mb-2"></i>
                <span class="offer-category-text">Food & Drink</span>
            </div>
            <div class="offer-category-box text-white text-center d-none d-sm-none d-md-none d-lg-block mr-1 mb-1">
                <i class="fa-2x fas fa-medkit d-block mb-2"></i>
                <span class="offer-category-text">Healthcare</span>
            </div>
            <div class="offer-category-box text-white text-center mr-1 mb-1">
                <i class="fa-2x fas fa-briefcase d-block mb-2"></i>
                <span class="offer-category-text">Products</span>
            </div>
            <div class="offer-category-box text-white text-center mr-1 mb-1 d-none d-sm-none d-md-block">
                <i class="fa-2x fas fa-building d-block mb-2"></i>
                <span class="offer-category-text">Property</span>
            </div>
            <div class="offer-category-box text-white text-center d-none d-xs-none d-sm-block d-md-block mr-1 mb-1">
                <i class="fa-2x fas fa-cogs d-block mb-2"></i>
                <span class="offer-category-text">Services</span>
            </div>
            <div class="offer-category-box text-white text-center d-none d-sm-none d-md-block mr-1 mb-1">
                <i class="fa-2x fas fa-shopping-basket d-block mb-2"></i>
                <span class="offer-category-text">Shopping</span>
            </div>
            <div class="offer-category-box text-white text-center mr-1 mb-1">
                <i class="fa-2x fas fa-map-marker d-block mb-2"></i>
                <span class="offer-category-text">Travel</span>
            </div>
        </div>
    </div>
</section>

<section class="lextra-bussiness-block">
    <div class="container">
        <h2 class="text-center mb-4">Every Business Needs Loyal Customers</h2>
        <p class="text-center mb-5 font-weight-normal lead">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        <div class="border-0 text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="assets/images/box1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Keep Every Customer</h5>
                            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="assets/images/box2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Run Marketing Automatically</h5>
                            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="assets/images/box3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Increase Revenue Growth</h5>
                            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lextra-home-tab bg-gray">
    <div class="container">
        <h2 class="text-center mb-4">Collect Rewards</h2>
        <h5 class="text-center mb-5 font-weight-normal">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h5>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">who from?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">where at?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">what on?</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pr-0">
                        <img src="assets/images/tab1.png" alt="tab image" class="img-fluid"> </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pl-0">
                        <div class="tab-content-box bg-white p-3">
                            <h3 class="">who from?</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                normal distribution of letters, as opposed to using 'Content here, content here', making
                                it look like readable English. Many desktop publishing packages and web page editors now
                                use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                                many web sites still in their infancy. Various versions have evolved over the years, sometimes
                                by accident, sometimes on purpose (injected humour and the like).</p>
                            <div class="text-right">
                                <a href="javascript:void(0)" class="btn btn-common">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pr-0">
                        <img src="assets/images/tab1.png" alt="tab image" class="img-fluid"> </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pl-0">
                        <div class="tab-content-box bg-white p-3">
                            <h3 class="">where at?</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                normal distribution of letters, as opposed to using 'Content here, content here', making
                                it look like readable English. Many desktop publishing packages and web page editors now
                                use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                                many web sites still in their infancy. Various versions have evolved over the years, sometimes
                                by accident, sometimes on purpose (injected humour and the like).</p>
                            <div class="text-right">
                                <a href="javascript:void(0)" class="btn btn-common">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pr-0">
                        <img src="assets/images/tab1.png" alt="tab image" class="img-fluid"> </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pl-0">
                        <div class="tab-content-box bg-white p-3">
                            <h3 class="">what on?</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                normal distribution of letters, as opposed to using 'Content here, content here', making
                                it look like readable English. Many desktop publishing packages and web page editors now
                                use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                                many web sites still in their infancy. Various versions have evolved over the years, sometimes
                                by accident, sometimes on purpose (injected humour and the like).</p>
                            <div class="text-right">
                                <a href="javascript:void(0)" class="btn btn-common">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lextra-home-block">
    <div class="container">
        <h2 class="text-center mb-4">Grow your business</h2>
        <h5 class="text-center mb-5 font-weight-normal">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 home-block-box">
                <span class="font-weight-bold display-4 mb-1">12x</span>
                <p>Faster Email &amp; SMS Sign Ups</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 home-block-box">
                <span class="font-weight-bold display-4 mb-1">92%</span>
                <p>Reward Redemption Rate</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 home-block-box">
                <span class="font-weight-bold display-4 mb-1">2B+</span>
                <p>Annual Spending Data</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 home-block-box">
                <span class="font-weight-bold display-4 mb-1">10M+</span>
                <p>Loyal Members</p>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-common w-50 mt-4">SCHEDULE A DEMO</button>
        </div>
    </div>
</section>

<app-footer></app-footer>