<!-- <div class="tab-pane fade" id="mytransaction" role="tabpanel" aria-labelledby="contact-tab"> -->
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="lextra-trans-sortby text-left mb-3">
              <select class="custom-select custom-select-sm w-auto">
                  <option selected>Sort by Date</option>
                  <option value="1">Sort by Letest</option>
                  <option value="2">Sort by Older</option>
              </select>
          </div>
          <div id="lextra-transaction-details" class="lextra-transaction-details">
              <div class="card">
                  <div class="card-header" id="transaction-heading1">
                      <a class="status-pending collapsed" data-toggle="collapse" data-target="#transaction-content1" aria-expanded="true" aria-controls="transaction-content1">
                          <i class="fa fa-exclamation-circle"></i> Transaction 1
                      </a>
                  </div>
                  <div id="transaction-content1" class="collapse" aria-labelledby="transaction-heading" data-parent="#lextra-transaction-details">
                      <div class="card-body">
                          <h6 class="text-center">Transaction - DEM-IP15752</h6>
                          <div class="lextra-table-view-details">
                              <ul>
                                  <li>Trade Status</li>
                                  <li>Pending</li>
                              </ul>
                              <ul>
                                  <li>Buyer</li>
                                  <li>A Marsh Mallow</li>
                              </ul>
                              <ul>
                                  <li>Seller</li>
                                  <li>Demo Lex</li>
                              </ul>
                              <ul>
                                  <li>Trade Ref #</li>
                                  <li>DEM-IP15752</li>
                              </ul>
                              <ul>
                                  <li>Product</li>
                                  <li>IPoS Transaction</li>
                              </ul>
                              <ul>
                                  <li>Description</li>
                                  <li>gkjhkjhl</li>
                              </ul>
                              <ul>
                                  <li>Auth.#</li>
                                  <li>ATH10975 - 2/28/2018</li>
                              </ul>
                              <ul>
                                  <li>Date Created</li>
                                  <li>2/28/2018</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="transaction-heading2">
                      <a class="status-success collapsed" data-toggle="collapse" data-target="#transaction-content2" aria-expanded="true" aria-controls="transaction-content2">
                          <i class="fa fa-exclamation-circle"></i> Transaction 2
                      </a>
                  </div>
                  <div id="transaction-content2" class="collapse" aria-labelledby="transaction-heading" data-parent="#lextra-transaction-details">
                      <div class="card-body">
                          <h6 class="text-center">Transaction - DEM-IP15752</h6>
                          <div class="lextra-table-view-details">
                              <ul>
                                  <li>Trade Status</li>
                                  <li>Pending</li>
                              </ul>
                              <ul>
                                  <li>Buyer</li>
                                  <li>A Marsh Mallow</li>
                              </ul>
                              <ul>
                                  <li>Seller</li>
                                  <li>Demo Lex</li>
                              </ul>
                              <ul>
                                  <li>Trade Ref #</li>
                                  <li>DEM-IP15752</li>
                              </ul>
                              <ul>
                                  <li>Product</li>
                                  <li>IPoS Transaction</li>
                              </ul>
                              <ul>
                                  <li>Description</li>
                                  <li>gkjhkjhl</li>
                              </ul>
                              <ul>
                                  <li>Auth.#</li>
                                  <li>ATH10975 - 2/28/2018</li>
                              </ul>
                              <ul>
                                  <li>Date Created</li>
                                  <li>2/28/2018</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="transaction-heading3">
                      <a class="status-success collapsed" data-toggle="collapse" data-target="#transaction-content3" aria-expanded="true" aria-controls="transaction-content3">
                          <i class="fa fa-exclamation-circle"></i> Transaction 3
                      </a>
                  </div>
                  <em></em>
                  <div id="transaction-content3" class="collapse" aria-labelledby="transaction-heading" data-parent="#lextra-transaction-details">
                      <div class="card-body">
                          <h6 class="text-center">Transaction - DEM-IP15752</h6>
                          <div class="lextra-table-view-details">
                              <ul>
                                  <li>Trade Status</li>
                                  <li>Pending</li>
                              </ul>
                              <ul>
                                  <li>Buyer</li>
                                  <li>A Marsh Mallow</li>
                              </ul>
                              <ul>
                                  <li>Seller</li>
                                  <li>Demo Lex</li>
                              </ul>
                              <ul>
                                  <li>Trade Ref #</li>
                                  <li>DEM-IP15752</li>
                              </ul>
                              <ul>
                                  <li>Product</li>
                                  <li>IPoS Transaction</li>
                              </ul>
                              <ul>
                                  <li>Description</li>
                                  <li>gkjhkjhl</li>
                              </ul>
                              <ul>
                                  <li>Auth.#</li>
                                  <li>ATH10975 - 2/28/2018</li>
                              </ul>
                              <ul>
                                  <li>Date Created</li>
                                  <li>2/28/2018</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->