<section class="lextra-innerpage lextra-pointlist">
  <div class="container">
    <h2 class="mb-4 mt-4 lextra-innerpage-heading clearfix">My Point list <span class="float-right"><button class="btn submit-outline mb-0">Spend Points</button></span></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list01.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>Aloe Drug Mart</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list02.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>Power Barber Shop</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list03.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>City Bike</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list01.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>Aloe Drug Mart</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list02.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>Power Barber Shop</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list03.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>City Bike</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list01.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>Aloe Drug Mart</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list02.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>Power Barber Shop</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="media lextra-point-box">
			<img class="mr-3" src="assets/images/list03.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5>City Bike</h5>
	        <p>favorited Mattress Kings</p>
			  <p><span class="lextra-earnpoint-date">April 18, 2018</span></p>
			  <div class="lextra-earnpoint badge badge-dark bg-blue"><span class="lexrta-point-count">40</span> points</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>