<section class="grediant-bg">
  <div class="container">
    <div class="company-logo text-center mb-5">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="company logo">
      </a>
    </div>
    <form id="forgetpassword" class="regform" [formGroup]="regform" (ngSubmit)="ForgetPassword(regform)">
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <i class="input-icon-before fa fa-envelope"></i>
        <input name="signin-email" formControlName="signup_email" type="email" class="form-control floating-input" placeholder="Email"
          (keyup)="AvailableEmail(regform)" />
        <span class="small UserAvailable text-success" *ngIf="noerror && regform.get('signup_email').valid">&#x00A0;</span>
        <span class="small UserNotAvailable text-success" *ngIf="error && regform.get('signup_email').valid">&#x00A0;</span>
        <div *ngIf="processing || (regform.get('signup_email').dirty && !regform.get('signup_email').valid)">
          <span class="fa fa-spinner fa-spin keyup-input"></span>
        </div>
        <div class="input-error" style="height:21px;">
          <span class="validate-value" *ngIf="regform.get('signup_email').touched && !regform.get('signup_email').valid">{{MessageType}}</span>
          <span class="validate-value" *ngIf="(error && regform.get('signup_email').valid) || (!error && !noerror && !processing)">{{MessageType}}</span>
          <span class="validate-value" *ngIf="noerror && regform.get('signup_email').valid">{{MessageType}}</span>
        </div>
      </div>
      <button class="btn submit" type="submit" [disabled]="regform.invalid || processing || error">Send Reset Link</button>
    </form>
  </div>
</section>