<!-- <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab"> -->
  <form>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="text" class="form-control account-input" placeholder="First Name">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="text" class="form-control account-input" placeholder="Last Name">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="text" class="form-control account-input" placeholder="Address">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="text" class="form-control account-input" placeholder="City">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="text" class="form-control account-input dropdown-toggle" data-toggle="dropdown" placeholder="Select State">
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0)">Link 1</a>
                      <a class="dropdown-item" href="javascript:void(0)">Link 2</a>
                      <a class="dropdown-item" href="javascript:void(0)">Link 3</a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="number" class="form-control account-input" placeholder="Zip Code">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="text" class="form-control account-input" placeholder="Date of Birth" id="dateofbirth">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                  <input type="number" class="form-control account-input" placeholder="Mobile Number">
              </div>
          </div>
          <button class="btn submit">Update</button>
      </div>
  </form>
<!-- </div> -->